footer {
  clear: both;

  height: $footer-height;

  background-color: $white;
  box-shadow: 0 3px 13px $color-shadow;

  .brand {
    line-height: $footer-height;
  }

  .links a {
    margin-left: rem-calc(10);

    line-height: $footer-height;
  }
}
