.toggle-topbar {
  .fi-list {
    font-size: rem-calc(25);
  }
}

.back {
  a {
    opacity: .6;

    font-size: rem-calc(13);
  }
}

.top-bar {
  box-shadow: 0 3px 13px $dark-grey;
}

.dropdown {
  box-shadow: 0 3px 13px $dark-grey;
}
